{% extends 'base.html.twig' %}

{% block title %}{{ 'pi_crud.dashboard.title'|trans }}{% endblock %}

{% block content %}
    <div class="container-xl py-2 py-lg-4">
        {{ render(path('pi_breadcrumb_block')) }}

        {% block content_body_title %}
            <h1>{{ 'pi_crud.dashboard.title'|trans }}</h1>
        {% endblock content_body_title %}

        <h2 class="text-balise">{{ 'pi_crud.dashboard.entities'|trans }}</h2>
        <div class="row">
            {% for item in items %}
                {% set color = item.options.color|default('primary') %}
                <div class="{{ item.options.classes.card|default('col-12 col-lg-4 col-xl-4')}} my-2">
                    {% if item.options.format is defined and item.options.format is same as('extanded') %}
                        <div class="card border-{{ color}} h-100">
                            <div class="card-body">
                                <div class="mb-4">
                                    <span class="h1 text-{{ color }}">{{ item.count }}</span>
                                    <span class="h2">{{ 'pi_crud.dashboard.entity.title'|trans({'entity_label': item.name})|capitalize }}</span>
                                </div>
                                <div class="item-links">
                                    <a class="d-block d-md-inline-flex btn btn-{{ color }}" href="{{ path('pi_crud_admin', {'type': item.name}) }}">{{ 'pi_crud.dashboard.entity.action'|trans({'entity_label': item.name}) }}</a>
                                    {% if block('extra_%s_actions'|format(item.name)) is defined %}
                                        {{ block('extra_%s_actions'|format(item.name)) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-{{ color }} w-100" href="{{ path('pi_crud_admin', {'type': item.name}) }}">{{ 'pi_crud.dashboard.entity.action'|trans({'entity_label': item.name}) }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% block extra_content %}{% endblock %}
    </div>
{% endblock %}