{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}

{% block title %}Administration{% endblock %}

{% block content %}
    <div class="container py-4">
        {% block content_breadcrumb %}
            {{ sonata_block_render({ 'type': 'block.breadcrumb' }, {}) }}
        {% endblock %}

        {% block form_title %}{% endblock %}

        {% block form_content %}
            {{ form_start(form) }}
                <div class="row">
                    {% for field, property in configuration.properties|filter(a => a.form is defined and a.form is not null) %}
                        <div class="col-12 {{ property.form.class ?? 'order-12' }}">
                            {% include templates['field_' ~ field] ?? templates['field_' ~ property.type] ?? templates['field_default'] ?? '@PiCRUD/fields/field_default.html.twig' ignore missing with {'field': form[field], 'configuration': property} %}
                        </div>
                    {% endfor %}
                </div>
                <div class="d-none">
                    {{ form_rest(form)}}
                </div>
                <button type="submit" class="btn btn-primary">{% block form_action %}{% endblock %}</button>
                {% block form_extra_link %}{% endblock %}
            {{ form_end(form) }}
        {% endblock %}
    </div>
{% endblock %}
