{% if is_granted('show', entity) %}
    <div role="listitem" class="carousel-item {{ attr.class }}">
        <img class="first-slide opacity-20" src="{{ asset(entity.image.name is not null ? 'images/' ~ entity.image.name : 'images/default.webp') | imagine_filter('carousel_header') }}" alt="" {% if attr.class is defined and 'active' not in attr.class %}loading="lazy"{% endif %}>
        <div class="container-xl">
            <div class="carousel-caption text-left">
                <h1 class="text-primary">{{ entity.title }}</h1>

                {% if entity.createAt != entity.updateAt and entity.updateAt > date()|date_modify('-1 day') %}
                    <span class="badge badge-secondary">{{ 'pi_crud.item.recently_updated'|trans({'entity_label': type}) }}</span>
                {% endif %}
                <p class="text-white font-italic">
                    {{ 'pi_crud.item.updated_at'|trans({'entity_label': type}) }} {{ entity.updateAt|format_datetime('full', 'medium', locale='fr') }}
                </p>
                <p class="text-justify d-lg-none">
                    {% if entity.metaDescription is defined and entity.metaDescription is not empty %}
                        {{ entity.metaDescription|u.truncate(100) }} [...]
                    {% else %}
                        {{ entity.content|striptags|u.truncate(100)|raw }} [...]
                    {% endif %}
                </p>
                <p class="text-justify d-none d-lg-block">
                    {% if entity.metaDescription is defined and entity.metaDescription is not empty %}
                        {{ entity.metaDescription|u.truncate(500) }}
                    {% else %}
                        {{ entity.content|striptags|u.truncate(500)|raw }} [...]
                    {% endif %}
                </p>
                <p>
                    <a class="btn btn-primary" href="{{ path('pi_crud_show', {'type': type, 'id': entity.id, 'slug': entity.slug}) }}" role="button">
                        {{ 'pi_crud.item.read_more'|trans({'entity_label': type}) }}
                    </a>
                    {% include '@PiCRUD/includes/admin_actions.html.twig' ignore missing %}
                </p>
            </div>
        </div>
    </div>

    {% include '@PiCRUD/includes/structured_data.html.twig' %}
{% endif %}
