{% extends 'base.html.twig' %}

{% block title %}{{ 'pi_crud.list.title'|trans({'entity_label': type}) }}{% endblock %}

{% block content %}
    <div class="container py-2 py-lg-4">
        {{ sonata_block_render({ 'type': 'block.breadcrumb' }, {}) }}

        {% block content_body_title %}
            <h1>{{ 'pi_crud.list.title'|trans({'entity_label': type}) }}</h1>
        {% endblock content_body_title %}

        {% block content_body_search_form %}
            {% if searchForm is defined and searchForm is not empty %}
                {{ form_start(searchForm) }}
                <div class="row">
                    {% for field, property in configuration.properties|filter(a => a.search is defined and a.search is not empty) %}
                        <div class="col-12 col-md-6 col-lg-3 {{ property.search.class ?? 'order-12' }}">
                            {% include templates['field_' ~ field] ?? templates['field_' ~ property.type] ?? templates['field_default'] ?? '@PiCRUD/fields/field_default.html.twig' ignore missing with {'field': searchForm[field], 'configuration': property} %}
                        </div>
                    {% endfor %}
                </div>
                <div class="d-none">
                    {{ form_rest(searchForm)}}
                </div>
                <button type="submit" class="btn btn-primary mt-0"><i class="fa fa-search"></i> Filtrer</button>
                {% block form_extra_link %}{% endblock %}
                {{ form_end(searchForm) }}
            {% endif %}
        {% endblock content_body_search_form %}

        <div class="row pt-4" itemscope itemtype="http://schema.org/ListItem">
            {% for entity in entities %}
                {% if is_granted('show', entity) %}
                    {{ sonata_block_render({ 'type': 'block.item' }, {
                        'type': type,
                        'mode': 'default',
                        'item': entity
                    }) }}
                {% endif %}
            {% endfor %}

            {% if entities|length == 0 %}
                <div class="col-12">
                    {{ 'pi_crud.list.empty_result'|trans({'entity_label': type}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
